*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
}
.cursor-pointer{
    cursor: pointer;
}

/* buttons */
.btn-primary{
    background: linear-gradient(180deg, #3F189F 0%, #4C26AA 100%) !important;
    border-radius: 8px !important;
    border:none !important;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    line-height:0;
    font-family: 'Roboto Bold';
    box-shadow: none !important;
    font-size: 14px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.btn-default{
    background: #fff !important;
    border-radius: 8px !important;
    border:1px solid #4C26AA !important;
    height: 40px;
    color: #4C26AA;
    padding: 0 15px;
    font-size: 15px;
    line-height:0;
    font-family: 'Roboto Bold';
    box-shadow: none !important;
    font-size: 14px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
/* colors */
.c-primary{
    color: #4C26AA !important;
}
.c-gr{
    color: #4F4F52 !important;
}
.c-7b{
    color: #7B809A !important;
}
.c-36{
    color: #364868 !important;
}
.c-16{
    color: #16C0E8 !important;
}
.c-e9{
    color: #E91F63 !important;
}
/* fonts */
.f-10{
    font-size: 10px !important;
}
.f-12{
    font-size: 12px !important;
}
.f-14{
    font-size: 14px !important;
}
.f-16{
    font-size: 16px !important;
}
.f-18{
    font-size: 18px !important;
}
.f-22{
    font-size: 22px !important;
}
.f-24{
    font-size: 24px !important;
}

/* font family */
.f-300{
    font-family: 'Roboto Light' !important;
}
.f-400{
    font-family: 'Roboto Regular' !important;
}
.f-500{
    font-family: 'Roboto Medium' !important;
}
.f-700{
    font-family: 'Roboto Bold' !important;
}
.devider{
    background: #F0F2F5;
    width: 100%;
    height: 1px;
    margin-top: 20px;
}
.form-group{
    margin-bottom: 15px;
}
.form-control{
    box-shadow: none !important;
    background: #FFFFFF;
    border: 1px solid #C7CCD0;
    border-radius: 8px;
    height: 42px;
    padding: 5px 18px;
    font-family: 'Roboto Regular' !important;
}
.form-control:focus{
    border-color: #4C26AA !important;
}

.rightSection{
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* custom select */

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
}
.select svg{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%,-50%);
}
.select-styled {
    background: #FFFFFF !important;
    border: 1px solid #C7CCD0;
    border-radius: 8px;
    height: 42px;
    color: #4F4F52;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-family: 'Roboto Medium' !important;
    user-select: none;
}
.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    background: #FFFFFF !important;
    border: 1px solid #C7CCD0;
    border-radius: 8px;
    font-family: 'Roboto Medium' !important;
    color: #4F4F52;
    max-height: 255px;
    overflow: auto;
}
.select-options::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
    border-radius: 10px;
}

.select-options::-webkit-scrollbar
{
	width: 5px;
    border-radius: 10px;
	background-color: #F5F5F5;
}

.select-options::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #4C26AA ;
}
.select-options li {
    padding: 5px 15px;
}
.select-options li:hover, .select-options li.is-selected {
    background: #ededed;
}
.select-options li[rel="hide"] {
    display: none;
}


/* login */

.loginBanner{
    position: absolute;
    height: 488px;
}
.loginBanner img{
    height: 488px;
}
.loginCard .loginCardHead{
    background: linear-gradient(180deg, #3F189F 0%, #4C26AA 100%);
    box-shadow: 0px 2px 6px rgba(220, 34, 101, 0.36);
    border-radius: 8px;
    min-height: 81px;
    bottom:40px;
}
.loginCard{
    flex: auto;
    padding: 15px;
}
.loginCard .loginCardBody{
    width: 408px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 0 20px 50px;
    position: relative;
    z-index: 1;
}
.loginCard form .form-group label svg{
    margin-right: 5px;
}

/* footer */

footer{
    border-top: 1px solid #F0F2F5;
    padding: 20px 30px;
}

/* sidebar */
.sidebarOverlay{
    background: #00000047;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}
aside{
    background: linear-gradient(180deg, #3F189F 0%, #4C26AA 100%);
    width: 260px;
    min-width: 260px;
    height: 100vh;
    padding: 16px;
    overflow: auto;
    transition: all .3s;
}
aside .logoBx svg{
    min-width: 24px;
}
aside .whiteSpace{
    white-space: nowrap;
}
aside::-webkit-scrollbar-track
{
    width: 6px;
    background-color: #461fa5;
}

aside::-webkit-scrollbar
{
    width: 6px;
    background-color: #461fa5;
}

aside::-webkit-scrollbar-thumb
{
    background-color: #9999fb;
}
aside .userProfile{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 15px;
    margin: 20px 0;
}
aside .userProfile img{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.text-ellips{
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
aside .userProfile .arrowDown{
    min-width: 10px;
}
aside .menuList li svg{
    margin-right: 15px;
    min-width: 16px;
}
aside .menuList li{
    margin-bottom: 10px;
}
aside .menuList li a{
    padding: 10px 20px;
    border-radius: 4px;
    transition: all .3s;
    min-height: 41px;
    white-space: nowrap;
}
aside .menuList li a.active{
    background: #6666EA !important;
}
aside .menuList li a:hover{
    background: #6666EA50;
}

/* header */
header{
    border-bottom: 1px solid #F0F2F5;
    padding: 18px 50px 18px 20px;
}
header ul li{
    display: inline-block;
    margin-left: 25px;
    position: relative;
}
header ul li .badges{
    background: #E91F63;
    border-radius: 19px;
    min-width: 28px;
    top: -3px;
    left: 15px;
    min-height: 20px;
}

/* breadcrumb */
.breadcrumb ul li{
    display: inline-block;
    margin: 0 3px;
}
.breadcrumb ul li svg{
    position: relative;
    bottom: 2px;
}
.breadcrumb{
    padding: 24px 24px 0;
}

/* middle section */

.middleContent{
    padding: 24px;
    flex: auto;
}
.middleContent .cards{
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 30px;
}
.cardsHeader{
    padding: 20px 24px;
    border-bottom: 1px solid #F0F2F5;
}
.cardsBody{
    padding: 15px 24px;
}
.settingWrpr .cardsBody{
    padding: 30px 24px;
}
.settingWrpr .cardsBody .pr-40{
    padding-right: 40px;
}
.settingWrpr .cardsBody .pl-40{
    padding-left: 40px;
}
.settingWrpr .cardsFooter{
    padding: 20px 24px;
    border-top: 1px solid #F0F2F5;
}
.settingWrpr .cardsFooter button, .tableCards .cardsHeader button{
    margin-left: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
}
.settingWrpr .cardsFooter .btn-primary{
    min-width: 135px !important;
}
.settingWrpr .cardsFooter .btn-default{
    min-width: 90px !important;
}
.settingWrpr .cardsBody textarea{
    height: 221px;
    padding-top: 12px;
    resize: none;
}

.tableCards{
    padding-bottom: 15px;
}
.tableCards .cardsHeader button{
    line-height: 2.9;
}
.tableCards .cardsHeader button svg{
    margin-right: 5px;
    position: relative;
    bottom: 1px;
}
.tableCards th{
    background: #E9EAED !important;
    text-transform: uppercase;
    color: #4F4F52 !important;
    font-size: 14px !important;
    padding: 12px 15px;
    border: none !important;
}
.tableCards .cardsBody{
    padding: 0 0 20px;
    font-family: 'Roboto Bold' !important;
}
.tableCards .table>:not(:first-child){
    border: none !important;
}
.tableCards td{
    border-color: #F0F2F5;
    color: #4F4F52 !important;
    font-size: 14px !important;
    padding: 17px 15px;
    font-family: 'Roboto Bold' !important;
}
.tableCards .editRemove label{
    text-decoration: underline;
    margin-right: 10px;
}
.tableCards tr td .mb-2:last-child{
    margin-bottom: 0 !important;
}
.tableCards .dayBx{
    min-width: 180px;
}
.tableCards .editBtn, .tableCards .deleteBtn{
    background: #1A73E7;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    width: 40px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tableCards .deleteBtn{
    background: #E91F63;
}
.tableCards .editDlbtn button{
    margin-left: 10px;
}
.tableCards .editDlbtn button:first-child{
    margin-left: 0;
}
.tableCards .cardsBody{
    overflow: auto;
}
.tableCards .cardsBody::-webkit-scrollbar-track
{
    width: 5px;
    background-color: #F5F5F5;
    height: 9px;
}

.tableCards .cardsBody::-webkit-scrollbar
{
    border-radius: 10px;
    height: 9px;
    background-color: #D9D9D9;
}

.tableCards .cardsBody::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    background-color: #D9D9D9;
}
.tableCards .cardsHeader {
    flex-wrap: wrap;
}

.fieldsModal .modal-body .fieldList li{
    margin-top: 15px;
    list-style: auto;
}

.modal-content{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: 0;
}
.modal-title{
    color: #344767;
    font-size: 18px;
    font-family: "Roboto Bold" !important;
}
.modal-header{
    padding: 24px 20px;
}
.modal-header .btn-close{
    font-size: 12px;
    box-shadow: none;
}
.fieldsModal .modal-dialog{
    max-width: 614px;
}
.modal-footer{
    padding: 17px 20px;
}

.groupModal .select-styled, .groupModal .form-control{
    color: #7B809A;
    font-family: "Roboto Regular" !important;
}